html {
  background-color: #2C3E50;
}

.heading {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #445B72;
  color: #BACDE1;

  H1 {
    font-size: 5em;
  }
   
  p {
    font-size: 1.5em;
  }
}

.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
  background-color:  #85929E;
  border-color:  #85929E
}

a {
  color: #85929E;
}

label {
  color: #CED69F;
}

h1 { 
  color: #84A8AE;
}