// html {
//   background-color: #2C3E50;
// }

.heading {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #9A5A81;
  color: #DCDDDC;

  H1 {
    font-size: 5em;
  }
   
  p {
    font-size: 1.5em;
  }
}

.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
  background-color: #C09AC1;
  border-color:  #C09AC1;
}

a {
  color: #85929E;
}

label {
  color: #8E4478;
}

h1 { 
  color: #C09AC1;
}